{% extends "base.html" %}

{% block title%}
HomeFilmes Netflix
{% endblock %}

{% block content %}
<div class = "py-20" >
    <h1>Essa é o detalhe do filme : {{object.titulo}}</h1>
    <P>{{object}}</P>
    <p>{{object.descricao}}</p>
    <img src="{{object.thumb.url}}" alt="">

    <h2>Episódios</h2>
    <ul>
        {% for episodio in object.episodios.all %}
            
            <a href="{{episodio.video}}">
                <li><p>Episodio {{forloop.counter}}: {{episodio.titulo}}</li>
                </a></p>
        {% endfor %}
        </ul>
</div>
<div class = "py-10">
    <h2>Outros filmes que você pode gostar</h2>
    {% for filme in filmes_relacionados %}
    <p>
    <a href="{% url 'filme:detalhesfilme' filme.id %}">{{filme.titulo}}</a>
    </p>
    {% endfor %}
</div>
{% endblock %}